@page "/"
@using Shared.Models
@using laba_10.Interfaces
@inject IManager ManagerService

<PageTitle>Home</PageTitle>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var manager in managers)
    {
      <tr>
        <td>@manager.Id</td>
        <td>@manager.Name</td>
      </tr>
    }
  </tbody>
</table>

@code {
  List<Manager> managers = new List<Manager>();

  protected override async Task OnInitializedAsync() 
  {
    managers = ManagerService.GetManagerDetails();
  }
}